<%= error_messages_for 'attack_spell' %>

<!--[form:attack_spell]-->
<p><label for="attack_spell_name">Name</label><br/>
<%= text_field 'attack_spell', 'name'  %></p>

<p><label for="attack_spell_description">Description</label><br/>
<%= text_field 'attack_spell', 'description'  %></p>

<p><label for="attack_spell_min_level">Min level</label><br/>
<%= text_field 'attack_spell', 'min_level'  %></p>

<p><label for="attack_spell_min_dam">Min dam</label><br/>
<%= text_field 'attack_spell', 'min_dam'  %></p>

<p><label for="attack_spell_max_dam">Max dam</label><br/>
<%= text_field 'attack_spell', 'max_dam'  %></p>

<p><label for="attack_spell_dam_from_mag">Dam from mag</label><br/>
<%= text_field 'attack_spell', 'dam_from_mag'  %></p>

<p><label for="attack_spell_dam_from_int">Dam from int</label><br/>
<%= text_field 'attack_spell', 'dam_from_int'  %></p>

<p><label for="attack_spell_mp_cost">Mp cost</label><br/>
<%= text_field 'attack_spell', 'mp_cost'  %></p>

<p><label for="attack_spell_hp_cost">Hp cost</label><br/>
<%= text_field 'attack_spell', 'hp_cost'  %></p>

<p><label for="attack_spell_splashhp_cost">Splash</label><br/>
<%= check_box 'attack_spell', 'splash'  %></p>
<!--[eoform:attack_spell]-->

