<% for column in Name.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @name.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @name %> |
<%= link_to 'Back', :action => 'list' %>
