<h1>Select a character</h1>

<%= error_messages_for 'character' %>

<!--[form:player_character]-->
<% for character in @select_chars %>
<p><%= link_to character.name, { :action => @next_action,:id => character.id},:confirm => 'Are you sure?', :method => :post %></p>
<% end %>