<%= form_tag :action => 'updateimage', :id => params[:id] do %>
<table border=3>
 <tr>
  <td>
   <p><label for="image">Character Image:</label><br/>
   <%= text_area 'image', 'image_text', {:rows => '15', :cols => '20' } %>
   </p>   
  </td>
 </tr>
 <tr><td>
   <%= submit_tag "Update" %>
 </tr></td>
</table>
<% end %>
