<h1>Characters</h1>

<% if @active_chars.size < 3 %>
<%= link_to 'Create a character', :action => 'new' %><br/>
<% end %>

<br />
<b>Player's characters</b>
<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @player_characters.each do |character| %>
  <tr>
    <td><%= character.name %></td>
    <td><%= SpecialCode.get_text('char_stat', character.char_stat) %></td>
    <%= character_link_cells character %>
  </tr>
  <% end %>
</table>
