<p><b>There are several things you can do here:</b></p>

<% for ev in @events do %>
<p>
<%= link_to ev.as_option_text(@pc), {:action => 'do_choose', :id => ev.id } , :method => :post %>
</p>
<% end %>

<p><%= link_to "None of the above", {:action => 'do_choose'}, :method => :post %></p>
