<table>
<tr>
<td>X</td>
  <td align="center">|North|</td>
  <td>X</td>
</tr>
<tr>
<td>|W|<br>|e|<br>|s|<br>|t|<br></td>

<td>
  <table>
  
     <tbody><tr>

        
   <td><span title="Dense Pine Forest"><a class="map">
   <pre class="world_feature">               
 /\        /\  
/  \      /  \ 
 ||    /\  ||  
   /\ /  \     
  /  \ ||   /  
   ||      /\  
 /\      /\    
/  \ /\ /  \   
 || /  \ || /  </pre>
   </a></span></td>
        

        
   <td><span title="Light Deciduous Wood"><a class="map">
   <pre class="world_feature"> /\
/  \
 ||      /\
        /  \
     /\  ||
    /  \
     ||   /\
  /\      HH 
.             .

</pre>
   </a></span></td>
        

        
   <td><span title="Light Deciduous Wood"><a class="map">
   <pre class="world_feature"> /\
/  \
 ||      /\
        /  \
     /\  ||
    /  \
     ||   /\
  /\      HH 
.             .

</pre>
   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>

   </a></span></td>
        

        
   <td><span title="Giant Rock"><a class="map">
   <pre class="world_feature">               
               
               
    ,~~~~.     
   / -    ~    
  /     @  \   
===============
               
               
               </pre>
   </a></span></td>
        

        
   <td><span title="Mountain"><a class="map">
   <pre class="world_feature">      /\       
  /\ / \\  /\  
 / \\  /\ / \\ 
/   \\/ \\  /\ 
   /\   /\ / \\
  / \\ / \\   \
 /   \/\    /\ 
 /\  / \\  /~\\
/  \/   \\// \\
               </pre>
   </a></span></td>

        

     </tr>
     
     <tr>

        
   <td><span title="Dense Pine Forest"><a class="map">
   <pre class="world_feature">               
 /\        /\  
/  \      /  \ 
 ||    /\  ||  
   /\ /  \     
  /  \ ||   /  
   ||      /\  
 /\      /\    
/  \ /\ /  \   
 || /  \ || /  </pre>
   </a></span></td>
        

        
   <td><span title="Light Deciduous Wood"><a class="map">
   <pre class="world_feature"> /\
/  \
 ||      /\
        /  \
     /\  ||
    /  \
     ||   /\
  /\      HH 
.             .

</pre>
   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>
   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>

   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>
   </a></span></td>
        

        
   <td><span title="Swamp"><a class="map">
   <pre class="world_feature">,,.,..-,.,.-,.-
,.-,.,.-,.,-.-.
,.,.,-.,.,.-,.,
,-.',-,.',-,-',
,-,..-,',-,-',-
,.-,.-,.-',.-,.
,.'-,.,-,.-'.,-
-',.-,.-,.'-,.,
-'-,.-,-.-,-.,-

</pre>
   </a></span></td>

        

     </tr>
     
     <tr>

        
   <td><span title="Dense Pine Forest"><a class="map">
   <pre class="world_feature">               
 /\        /\  
/  \      /  \ 
 ||    /\  ||  
   /\ /  \     
  /  \ ||   /  
   ||      /\  
 /\      /\    
/  \ /\ /  \   
 || /  \ || /  </pre>
   </a></span></td>
        

        
   <td><span title="Light Deciduous Wood"><a class="map">
   <pre class="world_feature"> /\
/  \
 ||      /\
        /  \
     /\  ||
    /  \
     ||   /\
  /\      HH 
.             .

</pre>
   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>
   </a></span></td>
        

        
   <td><span title="Kingdom Siseneg entrance"><a class="map">
   <pre class="world_feature">

___         ___
| |__  __  _| |
\    ||  ||   /
 |    ____   |
 |    |##|   |
 |    |##|   |
===============


</pre>
   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>
   </a></span></td>
        

        
   <td><span title="Swamp"><a class="map">
   <pre class="world_feature">,,.,..-,.,.-,.-
,.-,.,.-,.,-.-.
,.,.,-.,.,.-,.,
,-.',-,.',-,-',
,-,..-,',-,-',-
,.-,.-,.-',.-,.
,.'-,.,-,.-'.,-
-',.-,.-,.'-,.,
-'-,.-,-.-,-.,-

</pre>
   </a></span></td>

        

     </tr>
     
     <tr>

        
   <td><span title="Light Deciduous Wood"><a class="map">
   <pre class="world_feature"> /\
/  \
 ||      /\
        /  \
     /\  ||
    /  \
     ||   /\
  /\      HH 
.             .

</pre>
   </a></span></td>
        

        
   <td><span title="Light Deciduous Wood"><a class="map">
   <pre class="world_feature"> /\
/  \
 ||      /\
        /  \
     /\  ||
    /  \
     ||   /\
  /\      HH 
.             .

</pre>
   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>
   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>

   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>
   </a></span></td>
        

        
   <td><span title="Light Deciduous Wood"><a class="map">
   <pre class="world_feature"> /\
/  \
 ||      /\
        /  \
     /\  ||
    /  \
     ||   /\
  /\      HH 
.             .

</pre>
   </a></span></td>

        

     </tr>
     
     <tr>

        
   <td><span title="Swamp"><a class="map">
   <pre class="world_feature">,,.,..-,.,.-,.-
,.-,.,.-,.,-.-.
,.,.,-.,.,.-,.,
,-.',-,.',-,-',
,-,..-,',-,-',-
,.-,.-,.-',.-,.
,.'-,.,-,.-'.,-
-',.-,.-,.'-,.,
-'-,.-,-.-,-.,-

</pre>
   </a></span></td>
        

        
   <td><span title="Swamp"><a class="map">
   <pre class="world_feature">,,.,..-,.,.-,.-
,.-,.,.-,.,-.-.
,.,.,-.,.,.-,.,
,-.',-,.',-,-',
,-,..-,',-,-',-
,.-,.-,.-',.-,.
,.'-,.,-,.-'.,-
-',.-,.-,.'-,.,
-'-,.-,-.-,-.,-

</pre>

   </a></span></td>
        

        
   <td><span title="Grassland"><a class="map">
   <pre class="world_feature"> ''''  '  ' '  
'  '''  '' ' ''
 '' ' '' ' ' ''
'  ''  ' '  ' '
 ''  ' ' ''  ' 
' ' '' '  ' ' '
 ' ''  ' ' '' '
'''' ' '' '' ' 
 ' ' '' ' ' '''
' ' '' ' ' ' ' '
</pre>
   </a></span></td>
        

        
   <td><span title="Field of knives"><a class="map">
   <pre class="world_feature">  __    __
  ||    ||
 ====  ==== 
         __    
         ||    
        ====  
  __    
  ||   
 ====          

</pre>
   </a></span></td>

        

        
   <td><span title="Field of knives"><a class="map">
   <pre class="world_feature">  __    __
  ||    ||
 ====  ==== 
         __    
         ||    
        ====  
  __    
  ||   
 ====          

</pre>
   </a></span></td>
        

        
   <td><span title="Light Deciduous Wood"><a class="map">
   <pre class="world_feature"> /\
/  \
 ||      /\
        /  \
     /\  ||
    /  \
     ||   /\
  /\      HH 
.             .

</pre>
   </a></span></td>
        

     </tr>

     
     <tr>

        
   <td><span title="Swamp"><a class="map">
   <pre class="world_feature">,,.,..-,.,.-,.-
,.-,.,.-,.,-.-.
,.,.,-.,.,.-,.,
,-.',-,.',-,-',
,-,..-,',-,-',-
,.-,.-,.-',.-,.
,.'-,.,-,.-'.,-
-',.-,.-,.'-,.,
-'-,.-,-.-,-.,-

</pre>
   </a></span></td>
        

        
   <td><span title="Crater"><a class="map">
   <pre class="world_feature">               
               
               
               
               
 ,/""""""\.    
=/" /^'\'.\=   
 .='=.=='=     
               
               </pre>
   </a></span></td>

        

        
   <td><span title="Desert"><a class="map">
   <pre class="world_feature"> . .      . 
             
  .    .     
             .
 .   .    . 

 .     .     .

   .      .    

</pre>
   </a></span></td>
        

        
   <td><span title="Plains"><a class="map">
   <pre class="world_feature">'  '    '   '  
 '    '    '   
 '  '   '    ' 
   '  '    '   
 '   '  '    ' 
   '      '    
 '     '    '  
    '    '     
' '   '    '  '
    '   '    ' </pre>
   </a></span></td>
        

        
   <td><span title="Light Deciduous Wood"><a class="map">

   <pre class="world_feature"> /\
/  \
 ||      /\
        /  \
     /\  ||
    /  \
     ||   /\
  /\      HH 
.             .

</pre>
   </a></span></td>
        

        
   <td><span title="The axe tree"><a class="map">
   <pre class="world_feature">   ~~ ~~~~
 ~~\~ ~~  ~~
  ~~ ~ / ~~- ~ 
  ~~~ ~  ~~ ~
     | |   |
     |O|  &lt;|D
     | |
 .  /  |\ .   .
. ./ / . \ .  .
 .   .  .   . . 
</pre>
   </a></span></td>
        

     </tr>

     
  </tbody></table>
</td>
<td>|E|<br>|a|<br>|s|<br>|t|<br></td>
</tr>
<tr>
  <td>X</td>
  <td align="center">|South|</td>
  <td>X</td>
</tr>
</table>
