<%= error_messages_for 'kingdom' %>

<%= form_tag :action => 'do_spawn', :method => :post do %>

<p><b>Enter a name for your new kingdom:</b></p>
<p><%= text_field 'kingdom','name' %></p>
<p><%= submit_tag "Accept" %></p>
<% end %>
