<%= error_messages_for 'post' %>

<p><%= text_area 'post', 'text', :cols => 45, :rows => 3 %></p>

<% if current_player.forum_user_attribute.mod_level > 0 %>
<%= check_box 'post', 'is_mods_only' %> Mods Only<br/>
<% end %>
