<%= error_messages_for 'thred' %>

<% if player_signed_in && current_player.forum_attribute.mod_level > 5 || @thred.new_record? %>
<p><label for="thred_name">Name</label><br/>
<%= text_field 'thred', 'name' %></p>
<% else %>
<p><label for="thred_name">Name</label><br/>
<%= text_field 'thred', 'name', {:disabled => true} %></p>
<% end %>

<p><label for="thred_text">Description</label><br/>
<%= text_area 'thred', 'text', :cols => 23, :rows => 4 %></p>

