<h1>New thred in <%=h @board.name %></h1>

<% form_tag :action => 'create_thred' do %>
  <%= render :partial => 'thred_form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'threds' %>