<% for column in World.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @world.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_admin_world_path(@world) %> |
<%= link_to 'Back', admin_worlds_path %>
