body { background-color: #fff; color: #333; }

body, p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 16px;
}

div#nav_tabs{min-width:800px;}
div#header{position:relative;}
div#footer{position:relative;}
div#mid{position:relative;
	min-width:800px;
	margin:5px;
	padding:0px;}
div#center_col{
	position:relative;
	margin:0px 18%;
	min-height:500px;}
div#left_col{
	position:absolute;
	left:0px;
	top:0px;
	}
div#right_col{
	position:absolute;
	right:0px;
	top:0px;}
.side_col{
	width:140px;}
	
.user_tab{
	width:140px;
	display:block;
	float:left}
ul.nav_tabs{
	display:inline;
	padding:0px;}
ul.nav_tabs li{
	display:inline;
	padding:5px;}
ul.battle_report {
	list-style-type:none;
	padding:0px;}

.image {
  white-space: pre;
  background-color: #eee;
  margin:0;
  text-decoration: none;
  font-family:Courier New;
  display:block; }

.creature {
  font-size:8pt;
  line-height:10pt;}
.feature {
  font-size:7pt;
  line-height:8pt;}
.world_feature {
  font-size:7pt;
  line-height:6pt;
  color: #000}

span.image_index {
  font-size:3pt;
  line-height:4pt;
}

.char_thumb {
  font-size:4pt;
  line-height:4pt;}
	
.lfcl {
	float:left;
	clear:left;}

p.post_text {
  font-size:8pt;
  line-height:8pt;
}

ul.form{
	list-style-type:none;
	list-style:inside;}

ul.form li{
	display:block;
	text-align:right;
	width:66%;}
li label {
	vertical-align:top;}

li input[type=text],li input[type=password],li textarea{
	width:200px;}
li textarea{
	height:200px;}

	
table.author {
  font-size:8pt;
  line-height:7pt;
} 

table.forum {
} 

tr.edit_notices {
  font-size:7pt;
  line-height:7pt;
}

tr.post_info {
  font-size:8pt;
  line-height:7pt;
}

td.board_info {
  font-size:7pt;
  line-height:7pt;
}

td.numeric_stat {
	text-align:right;}

a { color: #000; }
a.map {text-decoration:none;}
a.map:visited { color: #000; }
a.map:hover { color:#f00; background-color:transparent;}

a:visited { color: #666; }
a:hover { color: #fff; background-color: #000;}



.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

table {
  border-spacing:0px;
  border-width:0px;
}

tr,td,th,tbody {
  border-width:0;
}
