<h1>New race</h1>

<% form_tag :action => 'create' do %>
	<%= render :partial => 'form' %>
	<%= render :partial => 'loc_form' %>
	<%= render :partial => 'level_form' %>
	<%= render :partial => 'image_form' %>
	<%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
