<h1>Edit feature</h1>

<%= form_tag management_feature_path(params[:id]), method: :patch do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Update" %>
<% end %>

<%= link_to 'Back', :action => 'show', :id => params[:id] %>
