<h1>Edit feature</h1>

<%= form_tag :action => 'update', :id => params[:id] do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Update" %>
<% end %>

<%= link_to 'Back', :action => 'show', :id => params[:id] %>
