<%= error_messages_for 'kingdom_entry' %>

<!--[form:kingdom_entry]-->
<p><label for="kingdom_entry_entry_limitations">The following may enter the kingdom:</label><br/>
<%= select 'kingdom_entry', 'allowed_entry', @entry_types  %></p>
<!--[eoform:kingdom_entry]-->

