<%= error_messages_for 'kingdom_entry' %>

<!--[form:kingdom_entry]-->
<p><label for="kingdom_entry_entry_limitations">The following may enter the kingdom:</label><br/>
<%= collection_select 'kingdom_entry', 'allowed_entry', @entry_types, 'col_num', 'text'  %></p>
<!--[eoform:kingdom_entry]-->

