<h1>Editing kingdom_entry</h1>

<% form_tag :action => 'update', :id => @kingdom_entry do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show' %>
