<h1>Editing trainer_skill</h1>

<% form_tag :action => 'update', :id => @trainer_skill do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @trainer_skill %> |
<%= link_to 'Back', :action => 'list' %>
