<h1>Editing blacksmith_skill</h1>

<% form_tag :action => 'update', :id => @blacksmith_skill do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @blacksmith_skill %> |
<%= link_to 'Back', :action => 'list' %>
