<% for column in NameTitle.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @name_title.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @name_title %> |
<%= link_to 'Back', :action => 'list' %>
