<p>Inventory</p>

<%= render partial: 'characterse/equipped_items', locals: {equippable_view: true} %>

<%= render partial: 'characterse/current_inventory' %>

<%= render :file=> 'characterse/footer' %>
