<%= error_messages_for 'name_surfixes' %>

<!--[form:name_surfixes]-->
<p><label for="name_surfixes_name_surfixes">Name surfixes</label><br/>
<%= text_field 'name_surfixes', 'name_surfixes'  %></p>
<!--[eoform:name_surfixes]-->

