<% for column in NameSurfixes.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @name_surfixes.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @name_surfixes %> |
<%= link_to 'Back', :action => 'list' %>
