<h1>Editing Notice</h1>

<% form_tag :action => 'update', :id => @kingdom_notice do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
