<%= error_messages_for 'kingdom_notice' %>

<!--[form:kingdom_notice]-->
<p><label for="kingdom_notice_shown_to">Shown to</label><br/>
<%= collection_select 'kingdom_notice', 'shown_to', @shows, 'col_num', 'text'  %></p>

<p><label for="kingdom_notice_text">Text</label><br/>
<%= text_area 'kingdom_notice', 'text'  %></p>

<p><label for="kingdom_notice_signed">Signed</label><br/>
<%= text_field 'kingdom_notice', 'signed'  %></p>

<!--[eoform:kingdom_notice]-->

