<h1>New event</h1>

<% if @event.kind.nil? %>
<p>First chose an event type</p>
<% form_tag :action => 'new' do %>
  <%= render :partial => 'pre_form' %>
  <%= submit_tag "Proceed" %>
<% end %>
<%= link_to 'Back', :action => 'index' %>
<% else %>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'new' %>
<% end %>


