<h1>Editing npc</h1>

<% form_tag :action => 'update', :id => @npc do %>
	<%= render :partial => 'form' %>
	<ul class="form">
		<li><%= submit_tag 'Edit' %></li>
	</ul>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @npc %> |
<%= link_to 'Back', :action => 'list' %>
