<% for column in Npc.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @npc.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @npc %> |
<%= link_to 'Back', :action => 'list' %>
