<h1>New quest requirement</h1>

<%= form_tag management_quest_reqs_path(@quest), method: :post do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Create' %>
<% end %>

<%= link_to 'Back', management_quest_path(@quest) %>
