<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ascii Game the MMORPG</title>
  <%= stylesheet_link_tag 'main' %>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
</head>
<body>

<div id="header">
	<!-- 140px -->
	
	<ul class="nav_tabs">
		<li><span class="user_tab"><%= ( session[:player] ? "Player:#{session[:player][:handle]}" : "Welcome, guest" ) %></span></li>
		<li><%= link_to 'Home', :controller => 'home' %></li>
		<li><%= link_to 'Forums', :controller => '/forum', :action => 'boards' %></li>
		<li><%= link_to 'Characters', :controller => '/character', :action => 'menu' %></li>
		<li><%= link_to('Game', :controller => '/game', :action => 'feature') if session[:player] %></li>
		<li><%= link_to('Kingdom Management', :controller => '/management', :action => 'index') if session[:kingbit] %></li>
		<li><%= session[:player] ? link_to('Logout', logout_url()) :
															 link_to('Login', login_url()) + ' or ' + link_to('Register', register_url()) %></li>
	</ul>
</div>

<div id="mid">
	<div id="center_col">
		<%= yield  %>
	</div>
	<div id="left_col" class="side_col">
		<%= ( session[:player_character] ?  render(:partial => '/layouts/character_stats') : "No character selected" ) %>
	</div>
	<div id="right_col" class="side_col">
		<div style="height:200px;color:green;background-color:#EDFCED; padding:3px;"><%= flash[:notice] %></div>
	google stuff goes here
		<%#= google_ad() %>
	</div>
</div>

<div id="footer">
	Footer
</div>

</body>
</html>
